
<!-- <div class="p-grid">
    <div class="p-col-12">
        <p-table [value]="ordensdeservico"
            [paginator]="true" [rows]="5"
            [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th class="col-status-header">Status</th>
                <th>Escola</th>
                <th>Assunto</th>
                <th class="col-data-header">Data Criaçao</th>
                <th class="col-acoes-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-ordensdeservico>
          <tr>
            <td class="col-status" [style.color]="ordensdeservico.statusos=== 'Em Andamento'? 'orange' : 'green'">{{ordensdeservico.statusos}}</td>
            <td>{{ordensdeservico.escola}}</td>
            <td>{{ordensdeservico.assunto}}</td>
            <td>{{ordensdeservico.datacriacao}}</td>
            <td class="col-acoes">
              <a pButton icon="pi pi-pencil" style="border-style: none; margin-right: 3px;" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton icon="pi pi-trash" style="background-color: rgb(182, 74, 24); border-style: none;"
              pTooltip="Remover" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>
-->