<div class="container">
    <form #ordemdeservicoForm="ngForm" autocomplete="off" (ngSubmit)="salvar(ordemdeservicoForm)">
  
      <div class="p-grid">
        <div class="p-col-12">
          <h1>Ordem de Servico</h1>
        </div>
        <div class="p-col-12 p-md-9 p-fluid">
            <label>Assunto</label>
            <input pInputText type="text" name="assunto"
            [(ngModel)]="ordemdeservico.assunto"
            #assunto="ngModel" required minlength="12">

          <app-message [control]="assunto" error="required"
            text="Informe o assunto"></app-message>
          <app-message [control]="assunto" error="minlength"
            text="Mínimo de {{ assunto.errors?.minlength?.requiredLength }} 
            caracteres. Você digitou apenas {{ assunto.errors?.minlength?.actualLength }}">
          </app-message>
            
        </div>

        <div class="p-col-6 p-md-3 p-fluid">
          
          <label>Data</label>
          <p-calendar name="criacao" dateFormat="dd/mm/yy"
          [inline]="false" [readonlyInput]="false"[showIcon]="false"
          [(ngModel)]="ordemdeservico.dataCriacao" name="dataCriacao"
          #vencimento="ngModel" [required]="true"></p-calendar>

          <app-message [control]="assunto" error="required"
            text="Informe o assunto">
          </app-message>
        </div>

        <div class="p-col-12 p-md-9 p-fluid">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao"
            [(ngModel)]="ordemdeservico.descricao"
            #descricao="ngModel" required minlength="5">

          <app-message [control]="descricao" error="required"
            text="Informe uma descrição"></app-message>
          <app-message [control]="descricao" error="minlength"
            text="Mínimo de {{ descricao.errors?.minlength?.requiredLength }} caracteres. Você digitou apenas {{ descricao.errors?.minlength?.actualLength }}">
          </app-message>
        </div>
        <div class="p-col-12 p-md-6 p-fluid">
            <label>Tecnico</label>
            <p-dropdown [options]="tecnicos" placeholder="Selecione" name="tecnico"
            [(ngModel)]="ordemdeservico.tecnico.codigo"
            [filter]="true" #tecnico>
          </p-dropdown>
          </div>
        <div class="p-col-12 p-md-6 p-fluid">
            <label>Status</label>
          <p-dropdown [options]="statusoss" placeholder="Selecione" name="statusos"
            [(ngModel)]="ordemdeservico.statusos.codigo"
            [filter]="true" #statusos>
          </p-dropdown>
        </div>
        <div class="p-col-12 p-md-6 p-fluid">
          <label>Escola</label>
          <p-dropdown  [options]="escolas" placeholder="Selecione" name="escola"
           [(ngModel)]="ordemdeservico.escola.codigo"
           [filter]="true" #escola>
          </p-dropdown>
        </div>
        <div class="p-col-12 p-fluid">
          <label>Observação</label>
          <textarea pInputText rows="3"
            name="observacao" [(ngModel)]="ordemdeservico.observacao"></textarea>
        </div>
        <div class="p-col-12" style="font-weight: bold;">
          <button pButton type="submit" label="Salvar" class="p-button-success" 
            [disabled]="ordemdeservicoForm.invalid"
            style="font-weight: bold;"></button>
          <button pButton type="button"  label="Novo" class="p-button-info" style="font-weight: bold;"></button>
          <a routerLink="/ordensdeservico">Voltar para a pesquisa</a>
        </div>
      </div>

    </form>
  </div>