header{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
}
div.head-01{
    margin: auto;
    overflow: auto;
}
div.logo01{
    margin-left: 10%;
    padding: 12px;
    float: left;
    margin-top: 30px;
}
div.logo02{
    padding: 12px;
    float: left;
    margin-top: 30px;
}
div.text{
    margin-top: 30px;
    padding: 12px;
    text-align: center;
    float: left;
    text-decoration: none;
}
div.corpo{
    width: 60%;
    margin: auto;
    text-align: center;
}
table, textarea, input {
    width: 100%;
}
table {
    margin-bottom: 10px;
}
td {
    height: 30px;
}
table, th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
textarea {
    height: auto;
}
div.assinatura{
    width: 60%;
    margin: auto;
    text-align: center;
}
h1, h2, h3, h4{
    margin-bottom: 1px;
    margin-top: 1px;
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
